.Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.Footer-logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.Footer-logo p {
  color: #383838;
  font-size: 46px;
  font-weight: 700;
}

.Footer-links {
  display: flex;
  list-style: none;
  gap: 50px;
  color: #252525;
  font-size: 20px;
}

.Footer-links li {
  cursor: pointer;
}

.Footer-social-icon {
  display: flex;
  gap: 20px;
}

.Footer-icons-container {
  padding: 10px;
  padding-bottom: 6px;
  background: #fbfbfb;
  border: 1px solid #ebebeb;
}

.Footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
    color: #1a1a1a;
    font-size: 20px;
}

.Footer-copyright hr{
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #c7c7c7;
}

@media(max-width:800px){
  .Footer{
    gap: 20px;
  }
  .Footer-logo{
    gap: 10px;
    align-items: end;
  }
  .Footer-logo img{
    width: 40px;
  }
  .Footer-logo p{
    font-size: 25px;
  }
  .Footer-links{
    font-size: 14px;
    gap: 10px;
  }
  .Footer-social-icon img{
    width: 22px;
  }
  .Footer-copyright{
    font-size: 13px;
  }
}