.nav-logo p {
  color: #171717;
  font-size: 38px;
  font-weight: 600;
}
.nav-logo {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 6px;
}
.nav-profile {
  width: 75px;
}

@media (max-width: 800px) {
  .navbar {
    padding: 15px 30px;
  }
  .nav-profile {
    width: 60px;
  }
}
